<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <div th:fragment="footer">
            <footer class="footer mt-auto py-3 bg-light">
                <div class="container">
                    <span class="text-muted">Normal footer</span>
                </div>
            </footer>
        </div>
        <div th:fragment="footer-admin">
            admin footer
        </div>
    </body>
</html>