<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>e-commerce</title>
</head>
<body>
  <p>product</p>
  <p>Bolters only fired once</p>
  <img src="../static/images/m4_bolter.jpg" th:src="@{images/m4_bolter.jpg}"></img>
  <img src="../static/images/Locke_pattern_boltgun.webp" th:src="@{images/Locke_pattern_boltgun.webp}"></img>
  <img src="../static/images/boltgun.svg" th:src="@{images/boltgun.svg}"></img>
</body>
</html>